




<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                   reports
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="list-group">
                   
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                </div>    
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                   Data
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                    
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                </div>    
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                   Students
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                    
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                    <a href="#" class="list-group-item">Option</a>
                </div>    
            </div>
        </div>
    </div>
</div>