
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/Teacher_layout.cshtml";
}

<h2>Your Profile</h2>
<br />
<br />

<span class="label label-default">First Name</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="label label-primary">Nouman</span>
<br />
<br />
<span class="label label-default">Last Name</span>  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;        <span class="label label-primary">Awais</span>
<br />
<br />
<span class="label label-default">Email Address</span>   &nbsp;&nbsp;&nbsp;            <span class="label label-primary">l114422@lhr.nu.edu.pk</span>
<br />
<br />
<span class="label label-default">Phone No</span>   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;       <span class="label label-primary">0300-8654476</span>
<br />
<br />
<span class="label label-default">Addresss</span>    &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      <span class="label label-primary">Faisal Town 958-B Lahore</span>
<br />
<br />
