
@{
    ViewBag.Title = "Prepare_Purchase_requisition";
    Layout = "~/Views/Shared/Teacher_Layout.cshtml";
}

<div class="my_form">
    <br />
    <br />
    <br />
    <br />

    <div id='wrap'>
       
        <h1>PR Preparation Form </h1>
        <section class='form'>
            <form action="" method="post" novalidate>
                <fieldset>
                    <div class="item">
                        <label>
                            <span>Item Name</span>
                            <input data-validate-length-range="6" data-validate-words="1" name="name" placeholder="ex. White Board Marker" required="required" type="text" />
                        </label>
                        <div class='tooltip help'>
                            <span>?</span>
                            <div class='content'>
                                <b></b>
                                <p>Name must be at least 1 words</p>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="item">
                        <label>
                            <span>Number of items</span>
                            <input type="number" class='number' placeholder="1" name="number" min="1" max="10" data-validate-pattern="numeric" required='required'>
                        </label>
                        <div class='tooltip help'>
                            <span>?</span>
                            <div class='content'>
                                <b></b>
                                <p>Number must be between 1 and 10</p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="item">
                        <label>
                            <span>Date</span>
                            <input class='date' type="date" name="date" @*required='required'*@>
                        </label>
                    </div>

                    <br />
                    
                    <div class="item">
                        <label>
                            <span>email</span>
                            <input name="email" class='email' @*required="required"*@ type="email" />
                        </label>
                    </div>
                    <br />
                    @*<div class="item">
                        <label>
                            <span>Confirm email address</span>
                            <input type="email" class='email' name="confirm_email" data-validate-linked='email' required='required'>
                        </label>
                    </div>
                    <br />*@
                    <div class="item">
                        <label>
                            <span>Telephone</span>
                            <input type="tel" class='tel' name="phone" @*required='required'*@ data-validate-length-range="8,20">
                        </label>
                        <div class='tooltip help'>
                            <span>?</span>
                            <div class='content'>
                                <b></b>
                                <p>Notice that for a phone number user can input a '+' sign, a dash '-' or a space ' '</p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="item">
                        <label>
                            <span>Article type</span>
                            <select class="required" name="dropdown">
                                <option value="">-- none --</option>
                                <option value="o1">Stationary</option>
                                <option value="o2">Sports</option>
                                <option value="o2">Furniture</option>
                                <option value="o3">Kitchen</option>
                                 <option value="o3">Other</option>
                            </select>
                        </label>
                        <div class='tooltip help'>
                            <span>?</span>
                            <div class='content'>
                                <b></b>
                                <p>Choose something or choose not. what shall it be?</p>
                            </div>
                        </div>
                    </div>
                  
                    <br />
                    @*<div class="item multi required">
                        <label for='multi_first'>
                            <span>PR ID</span>
                        </label>
                        <div class='input'>
                            <input type="text" name="multi1" maxlength='1' id='multi_first'>
                            <input type="text" name="multi2" maxlength='1'>
                            <input type="text" name="multi3" maxlength='1'>
                            <input type="text" name="multi4" maxlength='1'>
                            <input type="text" name="multi5" maxlength='1'>
                            <input type="text" name="multi6" maxlength='1'>
                            <input data-validate-length-range="6" data-validate-pattern="alphanumeric" id="serial" name="serial" type="hidden"  />
                        </div>
                        <div class='tooltip help'>
                            <span>?</span>
                            <div class='content'>
                                <b></b>
                                <p>If Refrenced to previous Purchase Request then provide  Previous PR ID</p>
                            </div>
                        </div>
                    </div>*@
                    <br />
                    <div class="item">
                        <label>
                            <span>Discription</span>
                            <textarea @*required="required"*@ name='message'></textarea>
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    
                    <input name="somethingHidden" required="required" type="text" style='display:none' />
                </fieldset>
                <button id='send' type='submit'>Submit</button>
            </form>
        </section>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://dropthebit.com/demos/validator/multifield.js"></script>
<script src="http://dropthebit.com/demos/validator/validator.js"></script>
<script>
    // initialize the validator function
    validator.message['date'] = 'not a real date';

    // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
    $('form')
        .on('blur', 'input[required], input.optional, select.required', validator.checkField)
        .on('change', 'select.required', validator.checkField);

    $('.multi.required')
        .on('keyup', 'input', function () {
            validator.checkField.apply($(this).siblings().last()[0]);
        }).on('blur', 'input', function () {
            validator.checkField.apply($(this).siblings().last()[0]);
        });

    // bind the validation to the form submit event
    //$('#send').click('submit');//.prop('disabled', true);

    $('form').submit(function (e) {
        e.preventDefault();
        var submit = true;
        // evaluate the form using generic validaing
        if (!validator.checkAll($(this))) {
            submit = false;
        }

        if (submit)
            this.submit();
        return false;
    });

    /* FOR DEMO ONLY */
    $('#vfields').change(function () {
        $('form').toggleClass('mode2');
    }).prop('checked', false);

    $('#alerts').change(function () {
        validator.defaults.alerts = (this.checked) ? false : true;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);
</script>